body{
  margin:0;
  background-color: black;
}

body, html {
    height: 100%;
}

.content{
  position: relative;
  height: 100%;
  width: 86%;
  left:14%;
  top: 10%;

}

/* Add a black background color to the top navigation */
.topnav {
  overflow: hidden;
}

ul2 {
	 position: absolute;
	 top: 5%;
	 left: 5%;
	 transform: translate(-50%, -50%);
	 display: flex;
}

 ul2 li {
	 list-style: none;
}
 ul2 li a {
	 position: relative;
	 display: block;
	 text-transform: uppercase;
	 margin: 20px 0;
	 padding: 10px 20px;
	 text-decoration: none;
	 color: white;
	 font-family: sans-serif;
	 font-size: 18px;
	 font-weight: 600;
	 transition: 0.5s;
	 z-index: 1;
}
 ul2 li a:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-top: 2px solid #262626;
	 border-bottom: 2px solid #262626;
	 transform: scaleY(2);
	 opacity: 0;
	 transition: 0.3s;
}
 ul2 li a:after {
	 content: '';
	 position: absolute;
	 top: 2px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: grey;
	 transform: scale(0);
	 opacity: 0;
	 transition: 0.3s;
	 z-index: -1;
}
 ul2 li a:hover {
	 color: #fff;
}
 ul2 li a:hover:before {
	 transform: scaleY(1);
	 opacity: 1;
}
 ul2 li a:hover:after {
	 transform: scaleY(1);
	 opacity: 1;
}

ul1 {
	 position: absolute;
	 top: 5%;
	 right: 50px;
	 transform: translate(-10%, -50%);
	 display: flex;
     
}
 ul1 li {
	 list-style: none;
}
 ul1 li a {
	 position: relative;
	 display: block;
	 text-transform: uppercase;
	 margin: 20px 0;
	 padding: 10px 20px;
	 text-decoration: none;
	 color: white;
	 font-family: sans-serif;
	 font-size: 18px;
	 font-weight: 600;
	 transition: 0.5s;
	 z-index: 1;
}
 ul1 li a:before {
	 content: '';
	 position: absolute;
	 top: 0;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 border-top: 2px solid #262626;
	 border-bottom: 2px solid #262626; 
	 transform: scaleY(2);
	 opacity: 0;
	 transition: 0.3s;
} 
ul1 li a:after {
	 content: '';
	 position: absolute;
	 top: 2px;
	 left: 0;
	 width: 100%;
	 height: 100%;
	 background-color: grey;
	 transform: scale(0);
	 opacity: 0;
	 transition: 0.3s;
	 z-index: -1; 
}

 ul1 li a:hover {
     color: #fff;
}
ul1 li a:hover:before {
	 transform: scaleY(1);
	 opacity: 1;
}
 ul1 li a:hover:after {
	 transform: scaleY(1);
	 opacity: 1; 
}

/* Place text in the middle of the image */
.hero-text {
  position: relative;
  margin: auto;
  text-align: left;
  padding-left: 900px;
  top: 250px;
  left: 150px;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif"; 
  font-size: 25px;
  z-index: 3;
}

.hero-text h1{
    display: block;
    font-size: 2em;
    margin-block-start: 0.67em;
    margin-block-end: 0.67em;
    margin-inline-start: 0px;
    margin-inline-end: 0px;
    font-weight: bold;
    unicode-bidi: isolate;
}

/* Write then delete a word */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');


.typing-container {
  display: flex;
  justify-content: left;
  align-items: left;
}

#feature-text {
  margin-left: 8px;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  animation: blink .6s linear infinite alternate;
}


@keyframes blink {
0% {opacity: 1;}
40% {opacity: 1;}
60% {opacity: 0;}
100% {opacity: 0;}
}