body{
  margin:0;
}


.sidenav {
    height: 100%; /* Full-height: remove this if you want "auto" height */
    width: 250px; /* Set the width of the sidebar */
    position: fixed; /* Fixed Sidebar (stay in place on scroll) */
    z-index: 10; /* Stay on top */
    top: 0; /* Stay at the top */
    left: 0;
    background-color: #C0C0C0; /* Black */
    overflow-x: hidden; /* Disable horizontal scroll */
    padding-top: 20px;
    padding-left: 10px;
    padding-right: 10px;
    border-style: none solid none none;
    border-width: 5px;
    border-color: #3e3e3e;
  }

  /* The navigation menu links */
.sidenav a {
    padding: 10px 8px 10px 8px;
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    color: #323232;
    display: block;
    font-family: 'Roboto', sans-serif;
  }
  
  /* When you mouse over the navigation links, change their color */
  .sidenav a:hover {
    color: #f1f1f1;
  }

  
  /* Style page content */
  .main {
    margin-left: 270px; /* Same as the width of the sidebar */
    padding: 0px 10px;
  }

  .sidenav img{
    height: 200px;
    width: 200px;
    padding: 8px 8px;
    border-radius: 50%;
    margin-right: auto;
    margin-left:auto;
    max-width: 100%;
    max-height: 100%;
    opacity: 1;
  }

  .sidenav span{
    height: 215px;
    width: 215px;
    border-radius: 50%;
    background-color: #3e3e3e;
    display: inline-block;
    margin: 30% 0px 20px 17.5px;
  }
  
  /* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
  @media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
  }

  .black-letter{
      color: black;
      background: white;
  }

  .container {
    position: relative;
    text-align: center;
    color: white;
    font-size: 100px;
  }

  .centered {
    position: absolute;
    top: 40%;
    left: 55%;
    transform: translate(-50%, -50%);
  }


  /*-------------------- Hero Image CSS ---------------------*/

  body, html {
    height: 100%;
}

.content{
  position: relative;
  height: 100%;
  width: 86%;
  left:14%;
  top: 0;

}
/* The hero image */
.hero-image{
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("images/background3.jpg");
  position: relative;  
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  opacity: 90%;
  height: 100%;
  display: flex;
  flex-direction: column;
  z-index: 2;
}

/* Place text in the middle of the image */
.hero-text {
  position: absolute;
  margin: auto;
  text-align: center;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  color: white;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif"; 
  font-size: 30px;
  z-index: 3;
}

/*Add Gradient at the bottom of the image*/
.grad{
  margin-top: auto;
  background-image: linear-gradient(#252525, 10%,white);
  height: 100px;
  z-index: 1;
}

/* Write then delete a word */
@import url('https://fonts.googleapis.com/css2?family=Darker+Grotesque&display=swap');


.typing-container {
  display: flex;
  justify-content: center;
  align-items: center;
}

#feature-text {
  margin-left: 8px;
}

.input-cursor {
  display: inline-block;
  width: 2px;
  height: 42px;
  background-color: white;
  animation: blink .6s linear infinite alternate;
}


@keyframes blink {
0% {opacity: 1;}
40% {opacity: 1;}
60% {opacity: 0;}
100% {opacity: 0;}
}

/*----------- Style button------------*/

.content button{
  background-color: #C0C0C0;
  border: none;
  color: black;
  padding: 15px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5%;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
  margin-top: 17.66px;
}

.center-text{
  text-align: center;
}

/*----------- About Style ---------------*/

.About {
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";

}

.About h1{
  color: black;
  text-align: center;
  font-size: 40px;
}

.About p{
  font-size: 26px;
  text-align: center;
  max-width: 50%;
  padding-left: 25%;
  padding-top: 30px;
}


/*-------- Experience Styling --------------- */

.Experience {
  padding-top: 20px;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
}

.Experience h1{
  color: black;
  text-align: center;
  font-size: 40px;
}

.Experience h2{
  color: black;
  text-align: center;
  font-size: 26px;
}

.Experience h3{
  color: black;
  text-align: center;
  font-size: 26px;
}

.Experience p{
  font-size: 26px;
  text-align: center;
  max-width: 50%;
  padding-left: 25%;
  padding-top: 30px;
}


/*-------- Projects Styling -------------- */

.Projects {
  padding-top: 20px;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
}

.Projects h1{
  color: black;
  text-align: center;
  font-size: 40px;
}

/*-------- Education Styling --------------*/

.Education {
  padding-top: 20px;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
}

.grid{
  display: grid;
  grid-template-columns: 0.6fr 0.1fr;
  grid-gap: 20px;
  padding-left: 25%;
  max-width: 50%;
}
.Education h1{
  color: black;
  text-align: center;
  font-size: 40px;
}

.Education h2{
  color: #3e3e3e;
  text-align: left;
  margin: 5px;

}

.Education img{
  position: relative;
  padding:5px;
  left: 350px;
  text-align: right;
}

.Education p{
  padding-left: 25%;
  color:#3e3e3e;
  text-align: left;
  margin:5px;
}

/*----------- Interests Styling ----------------*/

.Interests {
  padding-top: 20px;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
}

.Interests h1{
  color: black;
  text-align: center;
  font-size: 40px;
}

/*----------- Get in Touch Styling ----------------*/

.OtherLinks {
  padding-top: 20px;
  font-family: "Segoe UI",Frutiger,"Frutiger Linotype","Dejavu Sans","Helvetica Neue",Arial,"sans-serif";
}

.OtherLinks h1{
  color: black;
  text-align: center;
  font-size: 40px;
}





